body {
  margin: 0;
  padding-bottom: 10px;
  background:whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin:auto;
  width:940px;
}

.table-header {
  font-family: Courier, monospace;
  font-weight:200;
  font-size: small;
  height:30px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

.side-icon {
  padding:10px;
  font-size: xx-large;
}

.side-icon:hover {
  cursor:pointer;
  /* background:#eee; */
  color:black;
}

.sidebar {
  height:100%;
  width:50px;
  background:white;
  color:gray;
  position: fixed;
  left:0px;
  text-align:center;
  font-size:large;
  z-index: 999;
}

.action-button {
  float:right;
  margin:5px 10px;
  padding:7px;
  background:white;
  border:1px solid lightgray;
  border-radius:2px;
  color:gray;
  cursor:pointer;
}

.action-button:hover {
  background:#eee;
  border:1px solid gray;
  color:black;
}