body {
  margin: 0;
  padding-bottom: 10px;
  background:whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

#root {
  margin:auto;
  width: 960px;
}

nav {
  user-select: none;
  background:whitesmoke;
  margin:0 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

.tab-icon {
  background:white;
  padding:8px 40px;
  font-size: 18pt;
  margin:2px 1px 0;
  border-bottom:3px solid lightgray;
  color:lightgray;
}

.tab-icon:hover {
  color:#2ad;
  cursor:pointer;
}

.tab-icon-active {
  border-bottom:3px solid #2ad;
  color:#2ad;
}

.sidebar {
  height:100%;
  width:52px;
  background:white;
  color:gray;
  position: fixed;
  left:0px;
  text-align:center;
  font-size:large;
  z-index: 999;
  user-select: none;
  box-shadow: 0 0 5px gray;
}

.side-icon {
  cursor:pointer;
  font-size: xx-large;
  padding:10px;
}

.side-icon:hover {
  color:#2ad;
}

.side-icon-active {
  color:#2ad;
  border-right:3px solid #2AD;
}

.table-header {
  background: #eee;
  font-family: arial, helvetica;
  font-weight: normal;
  font-size: 9pt;
  height: 32px;
}

.green {
  color:darkgreen;
}

.gray {
  color:#999;
  color:#888;
}

.bottom {
  position:fixed;
  left:0;
  bottom:0;
}

.label {
  color:gray;
  font-size: small;
  background:#fafafa;
  padding:4px 5px;
  border-radius:4px;
  margin-left: 7px;
}

.box {
  color:black;
  background:white;
  font-size:10pt;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin:0px 10px 3px;
  padding:1px 10px 1px;
  min-height:30px;
}

.box span {
  margin-top:10px;
}

.header {
  display:flex;
  align-items: center;
  height:34px;
  color:black;
  background:white;
  font-size:10pt;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin:0px 10px 3px;
  padding:5px;
}

.header .right {
  margin-left: auto;
}

.float {
  float:right;
  margin:8px 10px;
  cursor:pointer;
  border-radius:10px;
}

.float:hover {
  background:#fafafa;
}

.box .float {
  margin-right: 0;
  margin-top: 10px;
}

.content {
  margin:5px 0 5px;
}

.footer {
  padding:7px;
  display: flex;
  justify-items:center;
  justify-content: flex-end;
  background: white;
  margin:0px 10px;
}

.button {
  padding:4px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  cursor:pointer;
  background:#fafafa;
  border:1px solid #ccc;
  border-radius:3px;
  color:#666;
  box-shadow: 0 0 5px lightgray;
}

.button:hover {
  background:#fcfcfc;
  border-color: #2ad;
  box-shadow: 0 0 2px #2ad;
  color:black;
}

.button span {
  color:black;
  margin:0 10px 0 3px;
}

.block {
  display: inline-block;
  margin:2px;
}

.block:focus-within .smallll {
  color:#2ad;
}

.small {
  font-size:smaller;
  padding:0 2px 5px;
}

.short {
  width:70px;
}

.long {
  width:181px;
}

.filters {
  margin:15px 0 10px;
}

hr {
  border-top:1px solid #fafafa;
  margin-bottom: 15px;
}

input:not([type="checkbox"]), select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height:31px;
  vertical-align:top;
  border:1px solid #bbb;
  outline:none;
  padding:7px 5px;
  min-width:70px;
  background:white;
}

input:focus, select:focus {
  border:2px solid #2ad;
  background:#fcfcfc;
  padding:5px 5px;
}

input[type="checkbox"], input[type="radio"] {
  filter: hue-rotate(340deg);
  height:18px;
  width:18px;
  vertical-align:middle;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}

@media screen and (max-device-width: 800px) {
 body, html {
  margin-left:30px;
 }
}