body {
  margin: 0;
  padding-bottom: 10px;
  background:whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

#root {
  margin:auto;
  width: 960px;
}

.table-header {
  background: #eee;
  font-family: Courier, monospace;
  font-weight:200;
  font-size: 9pt;
  height:32px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

nav {
  margin:0 10px;
  user-select: none;
}

.tab-icon {
  background:white;
  padding:8px 40px;
  font-size: 18pt;
  margin:2px 1px 0;
  border-bottom:3px solid lightgray;
  color:lightgray;
}

.tab-icon:hover {
  color:#2ad;
  cursor:pointer;
}

.tab-icon-active {
  border-bottom:3px solid #2ad;
  color:#2ad;
}

.simple-button {
  padding:5px 20px; 
  margin:5px 10px 50px;
  float:right;
}

@media screen and (max-device-width: 800px) {

}