body {
  margin: 0;
  padding-bottom: 10px;
  background:whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

#root {
  margin:auto;
  width: 960px;
}

nav {
  user-select: none;
  background:whitesmoke;
  margin:0 10px;
  /* position:fixed;
  top:0;
  width:940px;
  z-index: 9999; */
}

/* main {
  margin-top: 56px;
} */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}

.tab-icon {
  background:white;
  padding:8px 40px;
  font-size: 18pt;
  margin:2px 1px 0;
  border-bottom:3px solid lightgray;
  color:lightgray;
}

.tab-icon:hover {
  color:#2ad;
  cursor:pointer;
}

.tab-icon-active {
  border-bottom:3px solid #2ad;
  color:#2ad;
}

.sidebar {
  height:100%;
  width:52px;
  background:white;
  color:gray;
  position: fixed;
  left:0px;
  text-align:center;
  font-size:large;
  z-index: 999;
  user-select: none;
}

.side-icon {
  cursor:pointer;
  font-size: xx-large;
  padding:10px;
}

.side-icon:hover {
  color:#2ad;
}

.side-icon-active {
  color:#2ad;
  border-right:2px solid #2AD;
}

.table-header {
  background: #eee;
  font-family: Courier, monospace;
  font-weight:200;
  font-size: 9pt;
  height:32px;
}

.simple-button {
  padding:8px 30px; 
  margin:15px 10px 40px;
  float:right;
}

.action-button {
  float:right;
  margin:4px 10px;
  padding:5px 12px 5px 5px;
  background:#fff;
  border:1px solid #ddd;
  border-radius:2px;
  color:#999;
  cursor:pointer;
  vertical-align:middle;
}

.action-button:hover {
  background:#eee;
}

.button-text {
  vertical-align:top;
  color:black;
}

.green {
  color:darkgreen;
}

.label {
  color:gray;
  font-size: small;
  background:#fafafa;
  padding:4px 5px;
  border-radius:4px;
  margin-left: 7px;
}

.header {
  color:black;
  background:white;
  font-size:10pt;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin:0px 10px 3px;
  padding:10px;
  ddisplay:inline-block;
}

@media screen and (max-device-width: 800px) {
 body, html {
  margin-left:30px;
 }
}